body {
  overflow-x: hidden;
}

#VimeoLogo {
  width: 60px;
}

#laptopImg {
  width: 1000px;
  height: 450px;
}

#laptop {
  margin-top: -25px;
  margin-left: auto;
  width: 622px;
  height: 445px;
}

.shadow-box {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: #000000;
}

.alzarbtn {
  margin-top: -6px;
}

#banner {
  position: relative;
  color: #f5f5f5;
  background-image: url("../public/banner.png");
  width: 110%;
  padding-top: 70px;
  margin-left: -15px;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
}

#bannerContainer {
  margin: 0 auto;
  max-width: 950px;
  text-align: left;
}

#bannerTitle {
  margin: auto;
}

#logos {
  margin: auto;
  width: 200px;
  height: 100px;
}

/* Add this to your custom.scss file */

.navbar {
  background-color: rgba(255, 255, 255, 0.8); /* Translucent background */
  transition: background-color 0.3s ease; /* Smooth transition for background */
}

.navbar .nav-item:hover {
  background-color: rgba(200, 200, 200, 0.5); /* Gray background on hover */
}

.navbar .nav-link::after {
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar .nav-link:hover::after {
  width: 100%;
  left: 0;
}

.dropdown-menu {
  display: none; /* Initially hide dropdown */
  opacity: 0;
  transition: opacity 0.3s ease; /* Fade in/out effect */
}

.dropdown:hover .dropdown-menu {
  display: block; /* Show dropdown on hover */
  opacity: 1;
  transition-delay: 0.2s; /* Delay for dropdown to appear */
}

.dropdown-menu.show {
  display: block; /* Show dropdown */
  opacity: 1; /* Fully visible */
}

.btn-unirse {
  transition: transform 0.3s ease; /* Animation for button */
}

.btn-unirse:hover {
  transform: scale(1.05); /* Scale effect on hover */
}
