body {
  overflow-x: hidden;
}

.nav-item li {
  padding: 5px;
}

.itemsMenu {
  border-radius: 8px;
}
.itemsMenu:hover {
  background-color: rgb(223, 228, 234);
  border-radius: 8px;
}

#VimeoLogo {
  width: 80px;
}

#comunicarseConVentas {
  font-size: 18px;
}

#iniciarSesion {
  font-size: 17px;
  margin-top: 2px;
}

#btnUnirse {
  background-color: rgb(223, 228, 234);
  color: #000; /* El texto siempre ser치 negro */
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 17px;
  transition: transform 0.3s ease;
}

#btnUnirse #divFlecha {
  background-color: rgb(37, 209, 254);
  border-radius: 7px;
}

#btnFlecha {
  color: #000; /* El texto siempre ser치 negro */
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  transform: scale(1.3);
}

#btnFlecha #divFlecha {
  background-color: rgb(37, 209, 254);
  border-radius: 7px;
}

#btnAzul #divFlecha {
  background-color: rgb(19, 167, 206);
  border-radius: 7px;
}

#btnAzul {
  background-color: rgb(37, 209, 254);
  color: #000; /* El texto siempre ser치 negro */
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 17px;
}

#btnAzul:hover {
  background: linear-gradient(
    to left,
    rgb(19, 167, 206) 50%,
    rgb(37, 209, 254) 50%
  );
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.45s ease;
  right: 0;

  #divFlecha {
    background-color: rgb(37, 209, 254);
    transition: background-color 0.45s ease;

    .segundaFlecha {
      transform: translateX(100%);
      transition: transform 0.45s ease;
    }
    .primeraFlechaAzul {
      transform: translateX(200%);
      transition: transform 0.45s ease;
    }
  }
}

#btnAzul:not(:hover) {
  background: linear-gradient(
    to left,
    rgb(19, 167, 206) 50%,
    rgb(37, 209, 254) 50%
  );
  background-size: 200% 100%;
  background-position: left;
  transition: background-position 0.45s ease;

  #divFlecha {
    background-color: rgb(19, 167, 206);

    transition: background-color 0.45s ease;

    .segundaFlecha {
      transform: translateX(0%);
      transition: transform 0.45s ease;
    }
    .primeraFlechaAzul {
      transform: translateX(-105%);
      transition: opacity 0.45s ease, transform 0.45s ease;
    }
  }
}

#divFlecha {
  overflow: hidden;
  position: relative;
  border-radius: 6px;
}

#divFlecha2 {
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

#btnUnirse:hover {
  background: linear-gradient(
    to left,
    rgb(37, 209, 254) 50%,
    rgb(223, 228, 234) 50%
  );
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.45s ease;
  right: 0;

  #divFlecha {
    background-color: rgb(19, 167, 206);
    transition: background-color 0.45s ease;

    .segundaFlecha {
      transform: translateX(100%);
      transition: transform 0.45s ease;
    }
    .primeraFlecha {
      transform: translateX(100%);
      transition: transform 0.45s ease;
    }
  }

  #divFlecha2 {
    background-color: rgb(19, 167, 206);
    transition: background-color 0.45s ease;

    .segundaFlecha {
      transform: translateX(100%);
      transition: transform 0.45s ease;
    }
    .primeraFlecha {
      transform: translateX(100%);
      transition: transform 0.45s ease;
    }
  }
}

.primeraFlecha {
  padding-left: -200px;
  position: absolute;
}

.primeraFlechaAzul {
  padding-left: -200px;
  position: absolute;
}

#divFlecha .primeraFlechaAzul {
  margin-left: -20px;
  position: absolute;
}

#btnUnirse:not(:hover) {
  background: linear-gradient(
    to left,
    rgb(37, 209, 254) 50%,
    rgb(223, 228, 234) 50%
  );
  background-size: 200% 100%;
  background-position: left;
  transition: background-position 0.45s ease;

  #divFlecha {
    background-color: rgb(37, 209, 254);
    transition: background-color 0.45s ease;

    .segundaFlecha {
      transform: translateX(0);
      transition: transform 0.45s ease;
    }
    .primeraFlecha {
      transform: translateX(-125%);
      transition: opacity 0.45s ease, transform 0.45s ease;
    }
  }
  #divFlecha2 {
    background-color: rgb(255, 255, 255);
    transition: background-color 0.45s ease;

    .segundaFlecha {
      transform: translateX(0);
      transition: transform 0.45s ease;
    }
    .primeraFlecha {
      transform: translateX(-125%);
      transition: opacity 0.45s ease, transform 0.45s ease;
    }
  }
}

#laptopImg {
  height: 650px;
  width: 1290px;
  max-width: auto;
}

#laptop {
  margin-top: 40px;
  margin-left: auto;
  height: 490px;
  width: 100%;
  margin-bottom: 100px;
}

.menuFlecha {
  .flechaMenu {
    transition: transform 0.2s ease;
    display: inline-block;
    font-size: 12px;
    margin-left: 15px;
    font-weight: bold;
  }
  &:hover .flechaMenu {
    transform: rotate(-180deg);
  }
}

h1 {
  text-align: center;
  font-size: 48px;
  color: #000000;
}

.alzarbtn {
  margin-top: -6px;
}

#vimeoCentral {
  border-radius: 20px;
}

#verDemostracion {
  border-radius: 20px;
}
#banner {
  color: #f5f5f5;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/banner.png");
  padding-top: 70px;
  background-size: cover;
  padding-bottom: 50px;
  margin-right: -50vw;
  margin-left: -50vw;
  position: relative;
  left: 50%;
  right: 50%;
}

#bannerContainer {
  text-align: left;

  h3,
  p,
  button {
    margin-left: -0px;
  }

  p {
    font-size: 20px;
  }
}

#logos {
  margin: auto;
  width: 200px;
  height: 100px;
}

.navbar {
  background-color: rgba(250, 250, 250);
  transition: background-color 0.4s ease;
  background-color: transparent;
  backdrop-filter: blur(15px);
}

.navbar a {
  color: black;
}

.navbar .nav-link:after {
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar .nav-link:hover::after {
  width: 100%;
  left: 0;
}

.dropdown-menu {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  transition-delay: 0.2s;
}

.dropdown-menu.show {
  display: block;
  opacity: 1;
}

#dropdownMenu {
  margin-top: 5px;
  margin-left: -100px;
}
#dropdownMenu2 {
  margin-top: 5px;
  margin-left: -220px;
}
#dropdownMenu3 {
  margin-top: 5px;
  margin-left: -352px;
}

#menuDropdown {
  width: 1280px;
  margin-top: 10px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-left: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
}

#menuDropdown2 {
  width: 1280px;
  margin-top: 10px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-left: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
}

#menuDropdown3 {
  width: 1280px;
  margin-top: -35px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-left: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
}

#verDemostracionIcono {
  position: absolute;
  top: 42%;
  left: 61%;
  color: rgb(37, 209, 254);
  font-size: 60px;
}

.logos img {
  display: flex;
  justify-content: center;
  transition: slide 9s;
}

.slider-image {
  width: 20%;
}

.carrousel-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carrousel-container::before,
.carrousel-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 1;
}

.carrousel-container::before {
  left: 0;
  background: linear-gradient(to right, #f1f5f9, transparent);
}

.carrousel-container::after {
  right: 0;
  background: linear-gradient(to left, #f1f5f9, transparent);
}

#carrousel {
  display: flex;
  gap: 5px;
  width: max-content;
  animation: marquee-container 30s linear infinite;
}

@keyframes marquee-container {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.slider-image {
  height: 80px;
  object-fit: contain;
  padding-right: 105px;
  margin-bottom: 50px;
}

.primerArticulo {
  background-color: #f1f5f9;
  border-radius: 20px;
  padding-right: -20px;
  width: 95%;
  .texto-Centrado {
    margin-top: 200px;
    p {
      margin-top: 15px;
      font-size: 20px;
      width: 85%;
    }
  }
  #btnFlecha {
    margin-top: 20px;
    margin-left: -5px;
  }
  img {
    margin-left: -8px;
    border-radius: 20px;
  }
}

.articuloFlecha {
  background-color: #f1f5f9;
  border-radius: 20px;

  .texto-Centrado {
    margin-top: 200px;

    h2 {
      margin-top: 10px;
      margin-left: 54px;
    }

    p {
      margin-top: 15px;
      margin-left: 54px;
      font-size: 20px;
      width: 85%;
    }
    #btnFlecha {
      margin-top: 20px;
    }
    img {
      margin-left: -8px;
      border-radius: 20px;
    }
  }
}

.primerArticulo,
.articuloFlecha {
  &:hover #btnFlecha {
    #divFlecha {
      background-color: rgb(19, 167, 206);
      transition: background-color 0.45s ease;

      .segundaFlecha {
        transform: translateX(100%);
        transition: transform 0.45s ease;
      }
      .primeraFlecha {
        transform: translateX(100%);
        transition: transform 0.45s ease;
      }
    }

    #divFlecha2 {
      background-color: rgb(19, 167, 206);
      transition: background-color 0.45s ease;

      .segundaFlecha {
        transform: translateX(100%);
        transition: transform 0.45s ease;
      }
      .primeraFlecha {
        transform: translateX(100%);
        transition: transform 0.45s ease;
      }
    }
  }

  &:not(:hover) #btnFlecha {
    #divFlecha {
      background-color: rgb(37, 209, 254);
      transition: background-color 0.45s ease;

      .segundaFlecha {
        transform: translateX(0);
        transition: transform 0.45s ease;
      }
      .primeraFlecha {
        transform: translateX(-125%);
        transition: opacity 0.45s ease, transform 0.45s ease;
      }
    }
    #divFlecha2 {
      background-color: rgb(255, 255, 255);
      transition: background-color 0.45s ease;

      .segundaFlecha {
        transform: translateX(0);
        transition: transform 0.45s ease;
      }
      .primeraFlecha {
        transform: translateX(-125%);
        transition: opacity 0.45s ease, transform 0.45s ease;
      }
    }
  }
}

.casosDeUso {
  .texto-Centrado {
    margin-top: 10px;
    margin-left: -5px;
    h2 {
      margin-top: 10px;
    }

    p {
      font-size: 15px;
      width: 99%;
    }
  }

  img {
    margin-left: -8px;
    border-radius: 25px;
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
}

#casosDeUso1 {
  width: 100%;
  transition: width 0.35s ease-in-out;
}

#casosDeUso1:hover {
  width: 200%;
  transition: all 0.35s ease-in-out;
}

// Animacion primer caso de uso
.col-md-4:has(#casosDeUso1:hover) ~ .col-md-4 #casosDeUso2 {
  width: 50%;
  margin-left: 100%;
  transition: all 0.35s ease-in-out;
}
.col-md-4:has(#casosDeUso1:hover) ~ .col-md-4 #casosDeUso3 {
  width: 50%;
  margin-left: 50%;
  transition: all 0.35s ease-in-out;
}

// Animacion segundo caso de uso
.row:has(#casosDeUso2:hover) .col-md-4 #casosDeUso1 {
  width: 50%;
  margin-left: 0%;
  transition: all 0.35s ease-in-out;
}

.col-md-4:has(#casosDeUso2:hover) ~ .col-md-4 #casosDeUso3 {
  width: 50%;
  margin-left: 50%;
  transition: all 0.35s ease-in-out;
}

// Animacion tercer caso de uso
.row:has(#casosDeUso3:hover) .col-md-4 #casosDeUso1 {
  width: 50%;
  margin-left: 0%;
  transition: all 0.35s ease-in-out;
}
.row:has(#casosDeUso3:hover) .col-md-4 #casosDeUso2 {
  width: 50%;
  margin-left: -50%;
  transition: all 0.35s ease-in-out;
}

#casosDeUso2 {
  width: 100%;
  margin-left: 0%;
  transition: all 0.35s ease-in-out;

  &:hover {
    width: 200%;
    margin-left: -50%;
    transition: all 0.35s ease-in-out;
  }
}

#casosDeUso3 {
  width: 100%;
  margin-left: 0%;
  transition: all 0.35s ease-in-out;

  &:hover {
    width: 200%;
    margin-left: -100%;
    transition: all 0.35s ease-in-out;
  }
}

footer {
  background-color: rgb(10, 14, 18);
  color: #fafcfd;
  a {
    color: #fafcfd;
    font-size: 18px;
  }
}

#btnFooter {
  color: #ffffff; /* El texto siempre ser치 negro */
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 18px;
}

#btnFooter:hover {
  background: linear-gradient(
    to left,
    rgb(37, 211, 254) 50%,
    rgb(40, 49, 58) 50%
  );
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.45s ease;
  right: 0;

  #divFlecha {
    background-color: rgb(19, 167, 206);

    .segundaFlecha {
      transform: translateX(100%);
      transition: transform 0.45s ease;
    }
    .primeraFlechaAzul {
      transform: translateX(200%);
      transition: transform 0.45s ease;
    }
  }
}

#btnFooter:not(:hover) {
  background: linear-gradient(
    to left,
    rgb(19, 167, 206) 50%,
    rgb(40, 49, 58) 50%
  );
  background-size: 200% 100%;
  background-position: left;
  transition: background-position 0.45s ease;

  #divFlecha {
    background-color: rgb(19, 167, 206);

    .segundaFlecha {
      transform: translateX(0%);
      transition: transform 0.45s ease;
    }
    .primeraFlechaAzul {
      transform: translateX(-105%);
      transition: opacity 0.45s ease, transform 0.45s ease;
    }
  }
}

.enlacesFooter {
  p,
  a {
    color: #ffffff;
    font-size: 18px;
    margin-top: -15px;
  }
}

.margenFooter {
  margin-top: 75px;
}

#idioma {
  margin-top: -15px;
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 5px;
  color: #f1f5f9;
  border-radius: 8px;
  background-color: rgb(40, 49, 58);
  margin-bottom: 50px;
  border-color: rgb(40, 49, 58);
}

#derechosReservados {
  margin-top: 15px;
  margin-left: 320px;

  a {
    font-size: 15px;
  }
}
